body {
  background-color: #121212;
  color: rgb(223, 223, 223);
  font-family: 'Monaco', 'Arial';
}

.title {
  color: rgb(219, 219, 219);
  text-align: center;
  font-size: 3.5rem;
  margin: 15px 0;
  text-shadow: 2px 2px #646464;
}

table {
  font-size: 1rem;
  border-radius: 5px;
  border-spacing: 0px; 
  width: 800px;
}

td {
  padding: 20px 30px;
  border-style: ridge;
  border-radius: 1px;
  border-color: rgb(180, 180, 180);
}

.cryptoData {
  background-color:#363636 ;
  width: max-content;
  margin: 40px auto;
  border-radius: 5px;
}

.cryptoName {
  font-size: 1.75rem;
  text-align: center;
}

.dataField {
  font-weight: bold;
  font-size: 1.15rem;
  color: #fff;
}

.footerContainer {
  text-align: center;
}

.pageButton {
  font-size: 1.5rem;
  margin: 10px 20px;
  border-radius: 5px;
}

.red, .green {
  font-weight: bold;
}

.red {
  color: rgb(228, 97, 97);
}

.green {
  color: rgb(76, 153, 76);
}